
{% load imagekit %}
{% load goods_tags %}
<div class="good">
<div class="image">
{% thumbnail '200x150' good.images -- alt='images' class='images' %}
   <!-- <img src="{{ MEDIA_URL }}{{ good.images_trumbnail.url }}" width="180px">-->
</div>


   <!-- <a href="{{ good.url }}">-->
         <a href="{% url 'goods:cardgood' good.category.url good.url%}">
        <p>{{ good.name }}</p></a>
        <p class="cost">{{ good.price }} руб.</p>
    <div class="addtocart">
        Добавить в корзину!
    </div>
</div>